@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Style+Script&display=swap');

@media screen and (width >=1px) {
    * {
        font-family:Arial, Helvetica, sans-serif;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
        
    .content {
        display:grid;
        gap:15px;
    }

    .post {
        width: 65%;
        color: white;
        padding:0;
        object-fit: cover;
        border-bottom: 1px solid rgb(100, 100, 100);
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .storys img:first-child {
        width: 60px; 
        height: 60px;
    }

    .user div {
        display: flex;
        align-items: center;
        gap:10px;
    }
    
    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .user div img{
        width:50px;
        height:50px;
    }
    
    .user div .storyProfiel {
        width: 50px;
        height: 50px;
    } 
    
    .optie{
        filter: invert(100%);
        width: 25px;
        height:25px;
    }

    .foto {
        width:100%;
        height: 500px;
        justify-self: center;
    }

    .foto img {
        width: 100%;
        height:100%;
        object-fit: cover;
    }

    .post-btn {
        width: 100%;
        height: 30px;
        display: flex;
        gap: 10px;
        font-size: 25px;
        background-color:transparent;
        justify-content: space-between;
    }
    
    i:hover {
        color:whitesmoke;
    }
    
    .post-btn div {
        display:flex;
        align-items: center;
        gap:5px;
    }
    
    .post-icons div {
        display:flex;
        gap:3px;
    }

    .post-btn img {
        width: 20px;
        height: 20px;
        filter: invert(100%); 
    }
    
    .description .creator {
        font-size:13px;
    }

    .description .description {
        font-size:10px;
    }

    .description .post-time {
        font-size:10px;
    }
    
    .post-btn p{
        font-size: 15px;
    }
    
    .storys {
        display:flex;
        align-items: center;
        justify-content: center;
        width:60px;
        height:60px;
    }

    .storys img{
        position:absolute;
        border-radius: 60px;
        object-fit: cover;
    }
}